body{
    background-color:bisque;
}
h2{
    color:brown;
}
h3{
    color: goldenrod;
    font-style: oblique;
}
ul{
  font-weight: bold;  
  color: black;
  font-style: italic;
  font-size: 16px;
}
h1{
    font: outline;
    font-style: normal;
}
p{
    width: 80%;
    height: 100%;
    font-style: normal;
    font-family: serif;
    font-weight: bold;
    font-size: 18px;
}