body{
    background-color: url('background-image.html');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h2{
    color:brown;
}
h3{
    color: whitesmoke;
    font-style: oblique;
}
ul{
  font-weight: bold;  
  color: black;
  font-style: italic;
  font-size: 16px;
}
h1{
    font: outline;
    font-style: normal;
}
p{
    width: 80%;
    height: 100%;
    font-style: normal;
    font-family: serif;
    font-weight: bold;
    font-size: 18px;
}
ol{
    font-weight: bold;
    font-style: italic;
}